.slick-dots li button:before {
  content: "" !important;
  display: block !important;
  width: 57px !important;
  height: 3px !important;
  background: rgba(255, 255, 255, 0.6) !important;
  border-radius: 10px !important;
}

.slick-dots li.slick-active button:before {
  background: #ffffff !important;
  border-radius: 10px !important;
}

.slick-dots {
  top: 70% !important;
  left: 7% !important;
  width: 0 !important;
  bottom: 0 !important;
  display: flex !important;
  gap: 40px !important;
}

.slick-slider {
  width: 100% !important;
  max-width: 1240px !important;
  overflow: hidden !important;
  border-radius: 27px !important;
}

.css-1gsv261 {
  display: flex !important;
  justify-content: center !important;
  border-bottom: 0 !important;
}

.nav-link {
  border-color: transparent !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 27px !important;
  color: rgba(13, 13, 13, 0.6) !important;
}

.nav-link:hover {
  background-color: #fff !important;
}

.active {
  border: none !important;
  border-color: transparent !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 27px !important;
  color: #c9ac8c !important;
}

.file-upload {
  /* background-color: #ffffff; */
  width: 100%;
  max-width: 315px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  background: #ffffff;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  position: relative;
}

/* .image-dropping,
.image-upload-wrap:hover {
  background: #f8f8f8;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 17px;
} */

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}
